*{
    padding: 0;
    margin: 0;
    font-family: 'Cambria';
}

body {
    background-color: #a0f8b3;
    background-image: url('../img/selva.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}
#acciones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    margin-left: 20px;
}

#titulo{
    background-image: linear-gradient(#053801,#0c9102,#053801);
    color: white;
    padding: 10px;
    margin: 20px 0px;
}
.radio h2{
    margin: 20px 0px;
}

.info{
    background-color: #63a383;
    width: 300px;
    height: auto;
}

canvas {
    background-color: #f0e4c4;
    background-image: url('../img/suelo.jpg');
    background-repeat: no-repeat;
    border: 1px solid #1f2c1f;
    border-right: #1f2c1f solid 4px;
    border-bottom: #1f2c1f solid 4px;
}
canvas:hover{
    cursor: none;
}

button{
    width: 200px;
    margin-top: 10px;
    padding: 5px 20px;
}

#informacion p, h3{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}